/* Footer */
.footer {
  grid-area: footer;
  background-color: var(--light-grey);
  height: 130px;
  transition: all 150ms ease-in-out;
}
.footer p {
  font-size: 12px;
}
.footer ul {
  display: flex;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.footer .social {
  padding: 10px;
  margin: 0 5px;
}
.footer a:hover {
  border-bottom: 2px var(--dark-grey) solid;
}
.footer .flex {
  flex-direction: column;
  justify-content: space-between;
}
