@media (min-width: 350px) and (max-width: 850px) {
  .navbar {
    height: 100px;
  }
  .navbar ul {
    padding: 10px;
  }
  .footer {
    height: 100px;
  }
}
@media (min-width: 851px) {
  .navbar {
    height: 70px;
  }
  .navbar .flex {
    flex-direction: row;
  }
  .navbar ul {
    background-color: transparent;
    padding: 10px;
  }
  .navbar a {
    font-size: 16px;
  }
  .footer {
    height: 70px;
  }
  .footer ul {
    background-color: transparent;
  }
  .footer .flex {
    flex-direction: row;
  }
}
